@media(max-widht:600px){
 .footer small div{
  withd:auto;
  text-align: center;
 }
 .footer small a{
  padding: 10px;
  font-size: 12px;
 }
 .footer small p{
  font-size: 12px;
  margin: 10px;
 }
}


